.enterBtn{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.loginLabel{
    -fx-text-fill:rgb(226, 226, 226);
}
.root{
    -fx-background-color: #8DC7D8;
}
/*按钮基础样式*/
.btn-basic {
    /*文本对齐方式*/
    -fx-text-alignment: center;
    /*合适高度*/
    -fx-pref-height: 38px;
    /*内边距*/
    -fx-padding: 0 18px;
    /*无边框*/
    -fx-border-style: none;
    /*鼠标样式*/
    -fx-cursor: pointer;
}
/*蓝色主题*/
.blue-theme {
    -fx-background-color: rgb(30, 158, 255);
    -fx-text-fill: #fff;
}